.title {
  text-align: center;
  padding: 0.5rem 1rem;
}
.title-holder {
  margin: 2rem auto;
  width: max-content;
  background-color: darkgray;
  border-radius: 0.7rem;
}
.chat-display-holder {
  background-color: darkgray;
  height: 50vh;
  border-radius: 0.7rem;
  margin: auto;
  width: 80%;
}
